section#main-section
  #no-new-projects-container
    #no-new-projects-text Currently there are no new projects, to create a <span id="no-new-projects-arrow">new project</span> click below
  #project-folders-scroll
    #project-folders-container
      .project-folders-group
        .project-folders
          a(href="#test01", contenteditable="true") Test 01
  #project-copydecks-container
    .arrow.arrow-up
    #project-copydecks-display
      .left
      .middle
        #project-copydecks-content-scroll
          #project-copydecks-content
            .project-copydecks-group
              .project-copydecks
                a(href="#test", contenteditable="true") Test 001
          .project-copydecks#add-copydeck
            a#add-copydeck-icon.hide-text(href="#add-copydeck") Add New Copy Deck
          #project-copydecks-navigation
            a.active(href="#0")
            a(href="#1")
      span.right